<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Video Codec</title>
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/jquery-ui.min.js"></script>
	<script src="scripts/socket.io.js"></script>
	<link href='css/fonts.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-2"><a href="/"><strong>PLAYER</strong></a></div>
				<div class="col-md-8"><!--<input type="text" placeholder="Search"><button><span class="glyphicon glyphicon-search"></span></button>--></div>
				<div class="col-md-2"><a href="/video"><button id="upload"><span class="glyphicon glyphicon-upload"></span> Upload</button></a></div></div>
			</div>
		</div>
	</header>
	<div class="header-offset"></div>
	<script src="scripts/app.js"></script>
</body>
</html>