<!DOCTYPE html>
<html>
<head>
	<title>
		Video Codec Single
	</title>

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/signin.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-2"><a href="/"><strong>LOGO</strong></a></div>
				<div class="col-md-8"><input type="text" placeholder="Search"><button><span class="glyphicon glyphicon-search"></span></button></div>
				<div class="col-md-2"><a href="/video"><button id="upload"><span class="glyphicon glyphicon-upload"></span> Upload</button></a></div></div>
			</div>
		</div>
	</header>
	<div class="header-offset"></div>
	<% include view.ejs %>
</body>
</html>